<?xml version="1.0"?>
<ruleset name="a-test-plugin">

	<!-- Files to check. -->
	<file>.</file>

	<!-- Exclude paths. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<!-- Only scan PHP files. -->
	<arg name="extensions" value="php"/>
	<!-- The report types to print. -->
	<arg name="report" value="summary,source,full"/>
	<!-- Show sniff and progress. -->
	<arg value="sp"/>
	<!-- Strip the file paths down to the relevant bit. -->
	<arg name="basepath" value="./"/>
	<!-- Check up to 20 files simultaneously. -->
	<arg name="parallel" value="20"/>
	<!-- Whenever possible, cache the scan results and re-use those for unchanged files on the next scan. -->
	<arg name="cache"/>
	<!-- Enable colors in report. -->
	<arg name="colors"/>

	<config name="minimum_supported_wp_version" value="5.8"/>

	<!-- Add custom capabilities -->
	<rule ref="WordPress.WP.Capabilities">
		<properties>
			<property name="custom_capabilities" type="array">
				<element value="manage_woocommerce"/>
			</property>
		</properties>
	</rule>

	<!--<rule ref="PHPCompatibilityWP"/>-->
	
	<!-- WordPress Coding Standards -->
	<rule ref="WordPress">
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<!--<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="PSR2.Classes.PropertyDeclaration.Underscore"/>-->
		<!-- No Yoda conditions! -->
		<exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
	</rule>

	<!-- Textdomain -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<!-- Set the Text Domain -->
			<property name="text_domain" type="array">
				<element value="a-test-plugin"/>
			</property>
		</properties>
	</rule>

</ruleset>