name: Build release zip

on:
  push:
    tags: # This is what we want in the future
    - '*'
    # branches: # This is for testing and run it on every push to main
    # - main

permissions:
  contents: write  # needed to create releases and upload assets

jobs:
  build:
    name: Build release zip
    runs-on: ubuntu-latest
    steps:
    
    # Checkout the code from the repository
    - name: Checkout
      uses: actions/checkout@v4

    #- name: Build plugin # Remove or modify this step as needed
    #  run: |
    #    composer install --no-dev
    #    npm install
    #    npm run build

    # This only works for WordPress.org hosted plugins
    #- name: Generate zip
    #  uses: 10up/action-wordpress-plugin-build-zip@stable
    #  env:
    #    SLUG: a-test-plugin # optional, remove if GitHub repo name matches SVN slug, including capitalization

    # Create the zip file using https://github.com/marketplace/actions/zip-release
    - name: Zip Release
      uses: TheDoctor0/zip-release@0.7.6
      with:
        type: 'zip'
        filename: 'a-test-plugin.zip' # Name of the archive file
        exclusions: '*.git* *.github* /*node_modules* .distignore .gitignore .phpcs.xml.dist README.md' # Would be great to get this automatically from .distignore
    
    # Create release and upload the zip file as an asset
    - name: Publish Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
        name: ${{ github.ref_name }}
        draft: true
        prerelease: false
        files: a-test-plugin.zip